<!DOCTYPE html>
<html>
<body>

<h2>Interactive Alerting Service</h2>

<p></p>

<form action="/" method="post" target="_blank">
  <label for="SERVER_ID">SERVER ID:</label>
  <input type="text" id="SERVER_ID" name="SERVER_ID"><br><br>
  <label for="CPU_UTILIZATION">CPU UTILIZATION:</label>
  <input type="text" id="CPU_UTILIZATION" name="CPU_UTILIZATION"><br><br>
  <label for="MEMORY_UTILIZATION">MEMORY UTILIZATION:</label>
  <input type="text" id="MEMORY_UTILIZATION" name="MEMORY_UTILIZATION"><br><br>
  <label for="DISK_UTILIZATION">DISK UTILIZATION:</label>
  <input type="text" id="DISK_UTILIZATION" name="DISK_UTILIZATION"><br><br>
  <input type="submit" value="Submit">
</form>



</body>
</html>
