<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <!------ Include the above in your HEAD tag ---------->
    <title>Face Recognition Module</title>
</head>

<body>
    <div class="coverphotodiv">
        <img src="{{ url_for('static', filename='src/cover.png') }}" class="coverphoto" width="1000" alt="cover" />
    </div>

    <nav class="navbar navbar-custom">
        <a class="navbar-brand" href="{{url_for('index')}}">
            <!-- Logo Image -->
            <img src="{{ url_for('static', filename='src/logo.png') }}" width="100" height="100" alt="logo" />
            <!-- Logo Text -->
            <span class="title text-uppercase h1">Face Recognition Module</span>
        </a>
    </nav>

    <div class="container h-100" style="height: 600px;">
        <div class="row align-items-center h-100" style="height: 600px;">
            <div class="col-6 flex align-items-center justify-content-around">
                <a href="{{url_for('admin')}}">
                    <button style="margin: 100px; width: 200px; height: 100px;"
                        class="btn btn-primary">Admin</button></a>
                <br>
                <a href="{{url_for('user')}}">
                    <button style="margin: 100px; width: 200px; height: 100px;"
                        class="btn btn-primary">User</button></a>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
    </div>


</body>

</html>